input {
  color: white;
  background-color: #2e2e2e;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  margin: 0.25rem;
  transition: border-color 1s, box-shadow 0.5s;
}

input:focus {
  outline: none !important;
  border:1px solid #FFE81F;
  box-shadow: 0 0 10px #ccce71;
}

input[type=number] {
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  padding: 1rem 2rem;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: rgb(24, 24, 24);
  color: white;
  border: 1px solid #FFFFFF;
  transition: background-color 0.5s, border 0.5s, box-shadow 0.2s;
  transition-timing-function: ease-in;
}

button:hover {
  background-color: #2e2e2e;
  border:1px solid #FFE81F;
  box-shadow: 0 0 10px #ccce71;
}